body {
    background-color: rgb(25, 24, 26);
    display: flex;
}

#form1 {
    margin: auto;
    margin-top: 25vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: linear-gradient(#31323b, #202022cf);
    border: .5px rgb(56, 56, 56) solid;
    border-radius: 40px;
    max-width: 40vw;
    padding: 35px 150px;
    text-align: center;
}

#form1 h2 {
    font-size: 30px;
    color: #f99f31;
}

#form1 form {
    margin-top: 40px;
}

form input {
    padding: 5px;
    width: 250px;
    margin: 10px;
}

form label {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submitBtn {
    background-color: #ff8c00;
    width: 250px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-size: 200% auto;
    color: rgb(255, 230, 204);
    border: none;
    border-radius: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#submitBtn:hover {
    background-color: #c86100;
    cursor: pointer;
}

#message {
    margin-top: 50px;
}